<div id="header-wrapper">
  <div  id="header" class="container">
			<div id="logo">
		      <h1><a href="<%= root_path %>">4FUN</a></h1>
	        <p><a href="<%= root_path %>" rel="nofollow">Lets' do fun</a></p>
			</div>
  </div>
</div>
<nav id="menu-wrapper">
  <div id="menu" class="container">
    <ul>
      <li class="col-xs-3"><a href="<%= root_path %>">首頁</a></li>
      <li class="col-xs-3"><a href="<%= about_path %>">關於</a></li>
      <li class="col-xs-3"><a href="<%= member_path %>">成員</a></li>
      <li class="col-xs-3"><a href="<%= experience_path %>">經驗</a></li>
    </ul>
  </div>
</nav>
