<!DOCTYPE html>
<html>
<head>
  <title>4FUN</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <header>
      <%= render 'pages/nav' %>
    </header>
    <section class="container">
      <%= yield %>
    </section>
    <footer id="footer-wrapper">
    <%= render 'pages/footer' %>
    </footer>
  <div id="copyright" class="container"><p>&copy; 2014 ChenLiZhan</p></div>
</body>
</html>
